
@{
    ViewBag.Title = "Index";
}

<h2>Index API</h2>

<main class="grid mt-5">
    <button id="run-api" class="btn btn-secondary mt-1 ms-1">Mostrar Pokemon</button>
</main>

<script src="~/Scripts/API.js"></script>